

body {
    
    margin: 0%;
    padding: 0%;
    background-image: url("../images/leaves-pattern.png");

}

.jumbotron {
    background-color: orange;
    color: white;
    font-size: 150px;
    font-style: oblique;
}

.panel-title {
    background-color: aquamarine;
    color: white;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    
}

.panel-body {
    background-color: lightsalmon;
    color: green;
}


img {
    float: left;
    width: 100px;
    height: 100px;

}

.displayed-number {
    background-color: aqua;
    width: 50px;
    height: 50px;
}
